<div class="text-center login-body">
    <div class="form-signin w-100 m-auto card card-box">
        
            <h1 class="h3 mb-3 fw-normal">Sign in</h1>
            <h6 class="mt-1 mb-4">Please, complete the following fields</h6>

            <form id="register-form">
            <div class="form-floating mb-2">
                <input id="newFirstName" type="text" class="form-control" id="floatingInput" placeholder="First Name" required>
                <label for="floatingInput">First Name</label>
            </div>
            <div class="form-floating mb-2">
                <input id="newLastName" type="text" class="form-control" id="floatingInput" placeholder="Last Name" required>
                <label for="floatingInput">Last Name</label>
            </div>
                        <div class="form-floating mb-2">
                <input id="newAge" type="number" class="form-control" id="floatingInput" placeholder="Age" required>
                <label for="floatingInput">Age</label>
            </div>
            <div class="form-floating">
                <input id="newEmail" type="email" class="form-control" id="floatingPassword" placeholder="Email Address" required>
                <label for="floatingPassword">Email Address</label>
            </div>
                        <div class="form-floating">
                <input id="newPass" type="password" class="form-control" id="floatingPassword" placeholder="Password"
                    required maxlength="8">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="w-50 mt-3 btn btn-sm btn-primary" type="submit">Submit</button>
            
            <div class="mt-2">
                <a href="/" class="p-footer">Already have an account? Log in here</a>
            </div>
        </form>
    </div>

</div>

<script src="/static/js/logs.js"></script>